

.navbar-brand{
  font-family: 'Niconne', cursive;
  font-size: 3em;
}
.navbar {
  margin-bottom: 10px; 
  font-family: 'Varela Round';
}
.navbar .navbar-inner {
  border-radius: 0px 0px 3px 3px; 
  font-family: 'Varela Round';
}
.nav {
  font-size: 1.2em;
  font-family: 'Varela Round';
}

.navbar-default {
  background: #D8D8D8;
}

